<link rel="stylesheet" href="css/style.css">

   <h1 class="align">Perfect Pizza</h1>
{{#if totalcost}}
<div class="box center cart ">
        <h1>Pizza Cart</h1>
        <div class="center">
            <img src="img/crt.gif" width="100" >
        </div>

    <form action="/smllplus1" method="POST">
       <div>
        <span>
           Small
        </span>
        <span class="smallnum">
            ({{numSmallpizza}})   
           </span>
            <span>
                <button type="submit" name="button1" class="radioplus1 rad tab" formaction="/smllplus">+</button>
            </span>
            <span>
                <button type="submit" name="button2" class="radiominus1 rad tab4" formaction="/smllminus">-</button>
            </span>
           <span class="smallTotal">
            R {{smallcost}}   
           </span>
       </div>
    </form>

       <div>
        <span>
            Medium
        </span>
        <span class="mediumnum">
            ({{nummediumpizza}})  
           </span>
        <span>
            <button type="submit" name="button" class="radioplus2 rad tab1">+</button>
        </span>
        <span>
            <button type="submit" name="button" class="radiominus2 rad tab4">-</button>
        </span>
            <span class="mediumTotal">
             R {{mediumcost}}  
            </span>
       </div>
       <div>
        <span>
            Large
        </span>
        <span class="largenum">
            ({{numlargepizza}})    
           </span>
        <span>
            <button type="submit" name="button" class="radioplus3 rad tab2">+</button>
        </span>
        <span>
            <button type="submit" name="button" class="radiominus3 rad tab4">-</button>
        </span>
            <span class="largeTotal">
             R {{largecost}}   
            </span>
       </div>    
        <span>
            Total Cost
        </span>
            <span class="totalcosts">
              R {{totalcost}}   
            </span>
       
    <form action="/Cart" method="Post">
        <div>
            <button type="submit" name="button" class="checkout theButton paybox">Order</button>
        </div>
    </form>


</div>
{{/if}}

    <div class="All_Pizzas">

    <form action="/Bsmall" method="Post">
        <div class="box Small_pizza"> 
            <h2 class="center">Small Pizza</h2>
            <img src="img/pizza.png" width="75" >
                <h3>
                    R49.00
                </h3>
    
            <div>
                Get a 20cm small pizza that has almost everything, from scrumptious vegetables to hearty meat products. Enjoy the taste of this pizza!
            </div>
            <div class="center">
                <button type="submit" name="button" class="theButton buysmall">Buy</button>
            </div>
        </div>
    </form>
    
    <form action="/Bmedium" method="Post"></form>
       <div class="box Medium_pizza">
            <h2 class="center">Medium Pizza</h2>
            <img src="img/pizza.png" width="105">
                <h3>
                    R89.00
                </h3>
            
            <div> 
                Get a 30cm medium pizza that has almost everything, from scrumptious vegetables to hearty meat products. Enjoy the taste of this pizza!
            </div>
            <div class="center">
                <button type="submit" name="button" class="theButton buymedium">Buy</button>
            </div>
        </div>
    </form>
    
    <form action="/Blarge" method="Post"></form>
        <div class="box Large_pizza"> 
            <h2 class="center">Large Pizza</h2>
            <img src="img/pizza.png" width="130">
                <h3>
                    R129.00
                </h3>
        
            <div> 
                Get a 40cm large pizza that has almost everything, from scrumptious vegetables to hearty meat products. Enjoy the taste of this pizza!
            </div>
            <div class="center">
                <button type="submit" name="button" class="theButton buylarge">Buy</button>
            </div>
        </div>
    </form>

    </div>
   


   <div class="box Contacts">
        <h2>Contact Details</h2>
        Contact us at: 079 865 4321 infor@perfectpizza.co.za
    </div>

